management_subscription_id = ""
name     = "keyvault-il"
location = "israelcentral"
resource_group_name = "rg-kv-il"
#location = "israelcnetral"
sku = "premium"
soft_delete_retention_days = 90
enable_rbac_authorization = true
public_network_access_enabled = true
purge_protection_enabled = true




  
